img {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.about {
  color: rgb(221, 96, 142);
  font-size: 30px;
}
