.cart {
  display: flex;
}

.circle-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-text {
  color: rgb(221, 96, 142);
  font-size: 30px;
}

.circle {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 22px;
  align-items: center;
}
