.cart {
  display: flex;
  justify-content: space-between;
}

.circle-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart-text {
  color: rgb(221, 96, 142);
  font-size: 30px;
}

.circle {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 22px;
  text-align: center;
}
